header {
  display: flex;
  margin-top: 30;
  margin-bottom: 180;
  margin-right:60;
  font: 600 12px Arial;
  letter-spacing: 3px;
}
nav {
  text-align: right;
  background-color: white;
  margin: 10px 10px 10px auto;
  text-decoration: none;
}
/* body{
    background-image:("")
} */ 

a:link,
a:visited {
  text-decoration: none;
  color: black;
  transition: color .3s;
}

a:hover,
a:active {
  /* kenapa a bisa nav gabisa (?) */
  text-decoration: none;
  color: #F4E98C !important; /*bisa pake color hex code ternyata*/
}

img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 7px; /*harus pake px*/

}

#content-area1 {
  /* background-color: brown; */
  color: black;
  text-align: left;
  /* border: 10px solid red; */
}

#content-area2 {
  color: black;
  text-align: left;
  padding: 0 50 0 120;
  /* border: 10px solid red; */
}

#nama {
  /* background-color: blue; */
  padding: 10;
  letter-spacing: 2px;
  font: 30px Arial;
}

#quotes {
  /* background-color: crimson; */
  padding: 10;
  font: 15px Arial;
}

#logo {
  /* background-color:pink; */
  padding: 25 10;
  letter-spacing: 8;
}

footer {
  background-color: purple;
}

.btn-dark-mode{
    background-color: red !important ;
    border-color: white !important;
}
